[package]
name = "bevy-mod-indigauge"
version = "0.2.1"
edition = "2024"
license = "MIT OR Apache-2.0"
description = "Understand your users. Grow your game. Track events, session health, and user sentiment with zero fuss"
repository = "https://github.com/Indigauge/bevy-mod-indigauge"
homepage = "https://www.indigauge.com"
documentation = "https://docs.rs/bevy-mod-indigauge"
keywords = ["indigauge", "feedback", "events", "indie", "game"]
categories = ["development-tools", "game-development"]
readme = "README.md"

include = ["src/**/*", "README.md", "LICENSE", "Cargo.toml"]

[package.metadata.docs.rs]
all-features = true

[features]
default = ["panic_handler", "feedback"]
panic_handler = ["dep:reqwest"]
tracing = ["dep:tracing-subscriber"]
feedback = []

[dependencies]
bevy = { version = "0.15", default-features = false, features = [
  "bevy_window",
  "bevy_ui",
  "sysinfo_plugin",
  "bevy_picking",
  "bevy_ui_picking_backend"
]}
serde = { version = "1", features = ["derive"] }
serde_json = "1"
once_cell = "1"
crossbeam-channel = "0.5"
bevy_text_edit = "0.5"
image = "0.24"
bevy_mod_reqwest = { version = "0.18" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
dirs = "6.0"
uuid = { version = "1", features = ["serde", "v4"] }
reqwest = { version = "0.12", features = ["json", "blocking"], optional = true }
tracing-subscriber = { version = "0.3", features = ["registry"], optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.3", features = ["wasm_js"] }

[dev-dependencies]
bevy = { version = "0.15" }
tracing = { version = "0.1" }

[[example]]
name = "minimal"
path = "examples/minimal.rs"
required-features = ["default"]

[[example]]
name = "breakout"
path = "examples/breakout.rs"
required-features = ["default"]
